<div class="row">
    <section>
        <h2>Welcome</h2>
        <p>Welcome to the About page. Here you will find information about me.</p>
    </section>

    <section>
        <h2>About Me</h2>
        <p>My name is Toluwalase Olaniran Martins, with the student number: 104360235, I am currently studying Business Information Technology at Seneca Polytechnic.</p>
    </section>
</div>
