<div class="row">
    <section>
        <h2>Tables</h2>
        <table class="table">
            <caption>Table 1</caption>
            <thead>
                <tr>
                    <th colspan="2">Student Name</th>
                    <th>Student Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Drumiped</td>
                    <td>William</td>
                    <td>20304059</td>
                </tr>
                <tr>
                    <td>Wooddy</td>
                    <td>30405001</td>
                </tr>
                <tr>
                    <td>James</td>
                    <td>freya</td>
                    <td>10948356</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Footer</td>
                </tr>
            </tfoot>
        </table>

        <table class="table">
            <caption>Table 2</caption>
            <thead>
                <tr>
                    <th colspan="2">Employee Name</th>
                    <th>Employee Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Ireni</td>
                    <td>Vauna</td>
                    <td>101</td>
                </tr>
                <tr>
                    <td>Dayed</td>
                    <td>202</td>
                </tr>
                <tr>
                    <td>Woods</td>
                    <td>wendy</td>
                    <td>300</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Footer</td>
                </tr>
            </tfoot>
        </table>

        <section>
            <h2>Lists</h2>
            <ol>
                <li>Android</li>
                <li>IOS
                    <ul>
                        <li>Iphone</li>
                        <li>Ipod</li>
                        <li>Ipad</li>
                    </ul>
                </li>
                <li>Windows</li>
                <li>Mac OS</li>
                <li>Linux</li>
            </ol>
            <p>This section contains an ordered list with one nested unordered list, that shows how lists can be used in HTML.</p>
        </section>
    </section>

    <section>
        <h2>Images</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder in halfpipe" width="300">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/Pan_Am_Boeing_747-121_N732PA_Bidini.jpg" alt="Aviation" width="300">
        <img src="https://i.cbc.ca/1.6697869.1673893972!/cpImage/httpImage/image.jpg_gen/derivatives/16x9_780/wea-ont-storm-20221224.jpg" alt="Monkey in the forest" width="300">
        <p>This section includes images with appropriate alt text from an online source.</p>
    </section>

    <section>
        <h2>Audio</h2>
        <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
        </audio>
        <p>This section features an HTML5 audio player with multiple audio source formats to ensure compatibility across different browsers.</p>
    </section>

    <section>
        <h2>Video</h2>
        <video controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
        </video>
        <p>This section includes an HTML5 video player with different extensions so it can be supported in different browsers.</p>
    </section>
</div>
